<div id="header" class="main-header">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h1 class="bg-xxx">Support Center</h1>

        <div class="input-wrapper">
          {{ search_form_begin }}
          <input id='q' type='text' name='q' maxlength='100' value='' />
          {{template_form_params}}
          <span><span class="fa fa-search"></span></span>
          {{ search_form_end }}
        </div>

        <h5>find the answer the answer to your question</h5>
      </div>
    </div>
  </div>
</div>

<div id="breadcrubs" class="breadcrumbs">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <a href='{{desk.system.links.home}}'>{{system.snippets.home}}</a>
        {% if article %}
        <span>/</span> <a href='{{ topic.public_articles_url }}'>{{ topic.name | clip:30 }}</a> <span>/</span> {{ article.subject_plain | clip:30 }}
        {% endif %}
      </div>
    </div>
  </div>
</div>

<div id="main">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
        {% if topics_count > 0 %}
        <div class="row">
          {%for topic in topics%}
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 topic-wrapper">
            <div class='topic topic{{ topic.id }}'>
              <div class="topic-title icon-1">
                <h4>{{ topic.name }}</h4>
                {% if topic.article_count > 0 %}
                <span>{{ topic.article_count }} {{ system.snippets.article | pluralize: topic.article_count, system.snippets.articles }}</span>
                {% endif %}
              </div>
              <div class="topic-content">
                <ul class="list-unstyled questions">
                  {% for article in topic.articles limit:4 %}
                  <li>
                    <a href='{{ article.public_url }}'>{{ article.subject_plain | clip:50 }}</a>
                  </li>
                  {% endfor %}
                </ul>
              </div>
              <div class="topic-footer">
                <a href="{{ topic.public_articles_url }}">View All</a>
              </div>
            </div>
          </div>
          {%endfor%}
        </div>
        {% endif %}
      </div>
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 mtm">
        <div class="sidebar">
          <div class="widget clearfix">
            <h5>contact us</h5>
            <ul class="list-unstyled">
              <li><a href="mailto:support@xsories.com"><span><span class="fa fa-fw fa-envelope"></span></span> send us a message</a></li>
              <li><a><span><span class="fa fa-fw fa-phone"></span></span> call us +1 442 244 0516</a>
              </li>
              <li><a href="http://xsories.com/"><span><span class="fa fa-fw fa-shopping-cart"></span></span> go to shopping</a></li>
            </ul>
          </div>
          <div class="widget clearfix">
            <h5>Customer Service</h5>

            <div class="location">
              <h4>United States</h4>
              <dl>
                <dt>Phone</dt>
                <dd>+001 442-2440516</dd>
                <dt>Address</dt>
                <dd>
                  Mailing address: <br/>
                  XS Commerce LLC <br/>
                  2888 Loker Ave East <br/>
                  Suite 305 <br/>
                  Carlsbad, CA, 92010 <br/>
                  USA
                </dd>
                <dt>Email</dt>
                <dd>support@xsories.com</dd>
              </dl>
            </div>

            <div class="location">
              <h4>Europe</h4>
              <dl>
                <dt>Phone</dt>
                <dd>+33 559 43 86 00</dd>
                <dt>Address</dt>
                <dd>
                  Mailing Address: <br/>
                  9 Rue de la Negresse <br/>
                  64200 Biarritz
                </dd>
              </dl>
            </div>

            <div class="location">
              <h4>Hong Kong</h4>
              <dl>
                <dt>Address</dt>
                <dd>
                  XSORIES HONG KONG LIMITED <br/>
                  13/F Fung Woo Center 279-281 <br/>
                  Des Voex Road Central <br/>
                  Sheung Wan HONG KONG
                </dd>
              </dl>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="{{desk_javascript_host}}portal/desk.portal.body.page_index.js"></script>

