/***************************
****************************
Variables
****************************
***************************/

@font-color: #373e44;
@font-color-hover: black;

@gray-1: #292929;
@gray-2: #3f3f3f;
@gray-3: #818181;
@gray-4: #7f7f7f;
@gray-5: #525252;
@gray-6: #b3b3b3;
@gray-7: #e7e7e7;
@gray-8: #ebebeb;
@gray-9: #f8f8f8;
@gray-10: #898989;
@gray-11: #3d3d3d;
@gray-12: #f1f1f1;
@gray-13: #d7d7d7;
@gray-14: #f7f7f7;
@gray-15: #b7b7b7;
@gray-16: #f6f6f6;
@gray-17: #cfcece;
@gray-18: #f2f3f4;
@gray-19: #b5b5b5;
@gray-20: #7d7d7d;
@gray-21: #e2e2e2;

@red-1: #ff4539;
@red-2: #e03d32;
@red-3: rgba(255, 69, 57, 0.6);
@red-4: #ff4237;
@red-5: #e93f35;

@fb-color: #3a5795;
@tw-color: #00aced;
@yt-color: #cc181e;
@pt-color: #ab171e;
@ig-color: #7c5641;

@one-third: percentage(1/3);

@green-1: #60cb3d;
@green-2: #55b237;

/***************************
****************************
Responsive
****************************
***************************/

@large: ~"(min-width: 1200px)";
@medium: ~"(min-width: 993px) and (max-width: 1200px)";
@small: ~"(min-width: 768px) and (max-width: 992px)";
@xs: ~"(max-width: 767px)";

.show-xs,
.show-s,
.show-m,
.show-xl {
  display: none;
  visibility: hidden;
}

@media @large {
  .hide-xl {
    display: none !important;
    visibility: hidden !important;
  }

  .show-xl {
    display: block;
    visibility: visible;
  }
}

@media @medium {
  .hide-m {
    display: none !important;
    visibility: hidden !important;
  }

  .show-m {
    display: block;
    visibility: visible;
  }
}

@media @small {
  .hide-s {
    display: none !important;
    visibility: hidden !important;
  }

  .show-s {
    display: block;
    visibility: visible;
  }
}

@media @xs {
  .hide-xs {
    display: none !important;
    visibility: hidden !important;
  }

  .show-xs {
    display: block;
    visibility: visible;
  }
}

.mtm {
  @media @small {
    margin-top: 31px;
  }
}

/***************************
****************************
General Styles
****************************
***************************/

.logo {
  margin: 0;

  a {
    background: url("../images/logo.png") no-repeat 0 0;
    text-indent: -9999px;
    display: inline-block;
    height: 101px;
    width: 116px;
  }

  &.reversed {
    a {
      background: url("../images/logo-reversed.png") no-repeat 0 0;
      height: 71px;
    }
  }
}

.list-unstyled {
  margin: 0;
}

.border(@w, @c) {
  border: @w solid @c;
}

.border-bottom(@w, @c) {
  border-bottom: @w solid @c;
}

.border-top(@w, @c) {
  border-top: @w solid @c;
}

.border-left(@w, @c) {
  border-left: @w solid @c;
}

.border-right(@w, @c) {
  border-right: @w solid @c;
}

.border-radius(@s) {
  -webkit-border-radius: @s;
  -moz-border-radius: @s;
  border-radius: @s;
}

a,
button {
  background: none;
  border: none;
  color: @red-1;

  &:hover {
    color: @red-2;
  }

  &:hover,
  &:visited,
  &:active,
  &:focus {
    text-decoration: none;
    outline: none;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  margin-top: 0;
}

.font-settings-main {
  line-height: 21px;
  font-size: 16px;
  color: @font-color;
}

.font-settings-smaller {
  line-height: 21px;
  font-size: 15px;
  color: @font-color;
}

.icon(@size, @bg-color) {
  background-color: @bg-color;
  color: white;
  display: inline-block;
  .border-radius(100%);
  text-align: center;
  height: @size;
  width: @size;
  line-height: @size;
  font-size: 20px;
}

body {
  background-color: white;
  .font-settings-main;
}

/***************************
****************************
Buttons & Links
****************************
***************************/

.xs-btn {
  text-transform: uppercase;
  color: white;
  font-size: 14px;
  font-weight: 500;
  .border-radius(25px);
  height: 39px;
  display: inline-block;
  line-height: 39px;
  text-align: center;
  padding: 0 25px;

  &:hover {
    color: white;
  }

  &.btn-main {
    background-color: @red-1;

    &:hover {
      background-color: @red-2;
    }
  }
}

/***************************
****************************
Navigation Styles
****************************
***************************/

.xs-navigation {
  height: 101px;

  .top {
    height: 40px;
    background-color: @gray-1;

    .logo {
      position: absolute;
      top: 0;
      left: 15px;
      z-index: 10;
    }

    .xs-main-navigation {
      float: right;
    }
  }

  .bottom {
    height: 61px;
    background-color: white;
    padding: 11px 0;

    .xs-btn {
      float: right;
    }
  }
}

.xs-main-navigation {
  height: 40px;

  li {
    font-weight: 500;
    line-height: 40px;
    height: 40px;
    padding: 0 17px;
    .border-right(1px, @gray-2);
    float: left;
    text-transform: uppercase;
    color: white;
    font-size: 12px;

    &:last-child {
      border-right: none;
      padding-right: 0;
    }

    span {
      .fa {
        color: @gray-3;
        font-size: 16px;
      }
    }

    a {
      line-height: 40px;
      height: 40px;
      display: block;
      color: @red-1;

      &:hover {
        color: @red-2;
      }
    }
  }
}

/***************************
****************************
Header Styles
****************************
***************************/

.main-header {
  height: 477px;
  background: url("../images/bg-header.png") no-repeat 50% 0 / cover;
  padding-top: 95px;

  &.small {
    background: url("../images/bg-header-small.png") no-repeat 50% 0 / cover;
    height: 132px;
    padding-top: 40px;

    h1 {
      font-size: 28px;
      padding-bottom: 30px;
      margin: 0;
    }
  }

  h1, h2, h3, h4, h5, h6 {
    color: white;
    text-transform: uppercase;
    text-align: center;
  }

  h1 {
    padding-bottom: 30px;
    margin-bottom: 40px;

    @media @xs {
      font-size: 33px;
    }
  }

  .input-wrapper {
    margin: 0 auto;
    width: 567px;

    @media @xs {
      width: 100%;
    }

    > * {
      .large-input,
      #q {
        .form-control-settings;
        .form-control-settings-custom;
        .q-input;
        padding-right: 66px;
      }

      > span {
        right: 38px;
        top: 17px;

        .fa {
          font-size: 30px;
        }
      }
    }
  }

  h5 {
    font-weight: 500;
    font-size: 15px;
    margin-top: 25px;
  }
}

.bg-xxx {
  background: url("../images/bg-xxx.png") no-repeat 50% 100%;
}

.input-wrapper {
  position: relative;

  > * {
    > span {
      color: @red-1;
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}

.search-box-settings-2 {
  font-weight: 500;
  color: @gray-4;
  text-transform: uppercase;
}

.form-control {
  .form-control-settings-custom;
}

.q-input {
  .border-radius(50px);
  height: 67px;
  line-height: 67px;
  padding: 0 38px;
}

.form-control-settings-custom {
  .border-radius(25px);
  boder-color: white;

  &:focus {
    border-color: @red-1;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px @red-3;
    outline: 0 none;
  }

  &::-webkit-input-placeholder {
    .search-box-settings-2;
  }

  &:-moz-placeholder {
    .search-box-settings-2;
  }

  &::-moz-placeholder {
    .search-box-settings-2;
  }

  &:-ms-input-placeholder {
    .search-box-settings-2;
  }

  &.large-input {
    .q-input;
  }
}

.form-control-settings {
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  color: #555;
  display: block;
  font-size: 14px;
  height: 34px;
  line-height: 1.42857;
  padding: 6px 12px;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  width: 100%;
}

/***************************
****************************
Breadcrumbs Styles
****************************
***************************/

.breadcrumbs {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 11px;
  color: @gray-5;
  height: 56px;
  line-height: 56px;
  .border-bottom(1px, @gray-7);

  span {
    display: inline-block;
    margin: 0 5px;
    color: @gray-6;
  }
}

/***************************
****************************
Main Styles
****************************
***************************/

#main {
  padding: 35px 0;
}

.topic-wrapper {
  margin-bottom: 31px;

  &:nth-last-of-type(-n+2) {
    margin-bottom: 0;

    @media @xs {
      margin-bottom: 31px;
    }
  }
}

.topic {
  .border(1px, @gray-8);

  > * {
    padding: 16px 21px;
  }

  .search-title {
    padding: 0;
    margin-bottom: 9px;
  }

  .topic-title {
    text-transform: uppercase;
    padding-left: 78px;
    height: 77px;
    background-color: @gray-9;

    h4 {
      font-size: 15px;
      line-height: normal;
      margin-bottom: 0;
    }

    span {
      color: @gray-10;
      font-weight: 700;
      display: block;
      font-size: 13px;
    }
  }

  .topic-content {
    .questions {
      li {
        margin-bottom: 18px;

        a {
          .font-settings-smaller;

          &:hover {
            color: @font-color-hover;
          }
        }
      }
    }
  }

  .topic-footer {
    font-weight: 700;
    .border-top(1px, @gray-8);
    text-align: right;
    text-transform: uppercase;
    font-size: 13px;
  }

  &.topic837250 {
    .topic-title {
      background: @gray-9 url("../images/bg-icon-2.png") no-repeat 21px 16px;
      //background: @gray-9 url("../images/bg-icon-1.png") no-repeat 21px 16px;
      //background: @gray-9 url("../images/bg-icon-3.png") no-repeat 21px 16px;
      //background: @gray-9 url("../images/bg-icon-4.png") no-repeat 21px 16px;
    }
  }
}

/***************************
****************************
Sidebar Styles
****************************
***************************/

.widget {
  margin-bottom: 40px;

  &:last-of-type {
    margin-bottom: 0;
  }

  h5 {
    color: @gray-1;
    background: url("../images/bg-widget-title.png") no-repeat 0 100%;
    text-transform: uppercase;
    font-size: 16px;
    padding-bottom: 15px;
    margin-bottom: 30px;
  }

  h4 {
    font-weight: 500;
    font-size: 15px;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  .location {
    margin-bottom: 20px;

    &:last-of-type {
      margin-bottom: 0;
    }

    @media @small {
      margin: 0;
      float: left;
      width: @one-third;
    }
  }

  dl {
    font-size: 13px;
    margin-bottom: 0;

    dt {
      clear: left;
      float: left;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      text-align: left;
      width: 70px;
      margin-bottom: 5px;
    }

    dd {
      margin-left: 90px;
      margin-bottom: 5px;
    }
  }

  ul {
    margin-bottom: 0;

    li {
      margin-bottom: 30px;

      @media @small {
        float: left;
        width: @one-third;
        margin: 0;
      }

      &:last-of-type {
        margin-bottom: 0;
      }

      a {
        font-weight: 500;
        text-transform: uppercase;
        font-size: 13px;
        color: @gray-1;

        &:hover {
          color: @gray-2;
        }

        span {
          color: @red-1;
          display: inline-block;
          margin-right: 5px;

          .fa {
            font-size: 16px;
          }
        }
      }
    }
  }
}

/***************************
****************************
Footer Styles
****************************
***************************/

.footer {
  .border-top(1px, @gray-12);

  .top {
    padding: 26px 0;

    .logo {
      float: left;

      @media @xs {
        float: none;
        text-align: center;
        .border-bottom(1px, @gray-12);
        padding-bottom: 15px;
      }
    }

    .social {
      float: right;
      margin-top: 15px;

      @media @xs {
        float: none;
        text-align: center;
      }
    }
  }

  .bottom {
    background-color: @gray-14;
    padding: 20px 0;
    color: @gray-15;
    font-size: 11px;

    .powered {
      float: left;
    }

    ul {
      float: right;

      li {
        float: left;
        margin-left: 35px;

        a {
          color: @gray-15;

          &:hover {
            color: @gray-15;
          }
        }
      }
    }
  }
}

.social {
  .social-btn {
    .icon(41px, @gray-13);

    &.fb {
      &:hover {
        background-color: @fb-color;
      }
    }

    &.tw {
      &:hover {
        background-color: @tw-color;
      }
    }

    &.yt {
      &:hover {
        background-color: @yt-color;
      }
    }

    &.pt {
      &:hover {
        background-color: @pt-color;
      }
    }

    &.ig {
      &:hover {
        background-color: @ig-color;
      }
    }
  }
}

/***************************
****************************
Category Styles
****************************
***************************/

.search-box-settings {

  font-size: 17px;
  color: @gray-3;
  text-transform: none;
}

#search-box {
  height: 71px;
}

.search-box {
  background-color: @gray-16;

  .input-wrapper {
    > * {
      input[type="text"] {
        .search-box-settings;
        border: none;
        box-shadow: none;
        background-color: @gray-16;
        height: 71px;
        padding: 0 36px;
        width: 100%;

        &::-webkit-input-placeholder {
          .search-box-settings;
        }

        &:-moz-placeholder {
          .search-box-settings;
        }

        &::-moz-placeholder {
          .search-box-settings;
        }

        &:-ms-input-placeholder {
          .search-box-settings;
        }
      }

      > span {
        color: @gray-17;
        font-size: 21px;
        left: 0;
        right: auto;
        top: 25px;
      }
    }
  }
}

.categories-wrapper {
  .topic {
    border: none;

    .topic-title {
      .border-bottom(1px, @gray-18);
      padding-top: 0;
      padding-left: 57px;
      height: 61px;
      background-position: 0 0;
      background-color: white;

      h4 {
        font-size: 16px;
      }
    }

    .topic-content {
      padding: 0;
    }
  }
}

.xs-categories {
  li {
    .border-bottom(1px, @gray-18);

    &:last-of-type {
      border-bottom: none;
    }

    > a {
      padding: 23px 0 23px 34px;

      > .ico {
        top: 23px;
      }

      &:hover {
        > .ico,
        > strong,
        > .arrow {
          color: @red-1;
        }
      }
    }

    > * {
      padding-left: 34px;
      display: block;
      color: @font-color;
      position: relative;
      line-height: normal;

      > .ico {
        position: absolute;
        left: 0;
        top: 0;
        color: @gray-19;
        font-size: 22px;
      }

      > strong {
        font-weight: 500;
        font-size: 17px;
        display: block;
      }

      > .meta {
        font-size: 13px;
        color: @gray-20;
        display: block;
      }

      > .arrow {
        color: @gray-21;
        font-size: 20px;
        position: absolute;
        right: 0;
        top: 50px;

        @media @xs {
          display: none;
        }
      }

      > p {
        margin: 10px 0 0 0;
        font-size: 16px;
      }

      .details-content {
        margin-top: 28px;

        p {
          font-size: 16px;
          line-height: 21px;
          margin-bottom: 28px;
        }
      }

      .social-links {
        margin-top: 25px;

        @media @xs {
          margin-bottom: 31px;
        }
      }
    }
  }

  &.detail {
    @media @xs {
      li {
        > div {
          padding-left: 0;

          .ico {
            display: none;
          }
        }
      }
    }
  }
}

/***************************
****************************
Category Styles
****************************
***************************/

.search-title {
  padding: 0;
  background: url("../images/bg-search-title.png") no-repeat 0 100%;

  h4 {
    margin: 0;
    text-transform: uppercase;
    padding-bottom: 26px;
    font-size: 16px;
  }
}

/***************************
****************************
Details Styles
****************************
***************************/

#rate_article {
  .border-bottom(1px, @gray-18);
  .border-top(1px, @gray-18);
  padding: 16px 0;
  overflow: hidden;

  > div {
    float: left;
    display: block;
    text-align: center;
    width: 50%;
    color: @font-color;
    font-size: 15px;
    line-height: 36px;
    .border-right(1px, @gray-18);

    &:last-of-type {
      border-right: 0;

      @media @xs {
        margin-top: 25px;
      }
    }

    @media @xs {
      float: none;
      border: none;
      width: 100%;
      text-align: left;
    }

    > .rate_link {
      .icon(36px, @green-1);
      color: @green-1;
      position: relative;

      &:before {
        position: absolute;
        font-family: FontAwesome;
        top: 0;
        left: 0;
        content: "\f164";
        color: white;
        width: 100%;
      }

      &:hover {
        background-color: @green-2;
        color: @green-2;
      }
    }

    &.rate-link-down {
      > .rate_link {
        .icon(36px, @red-4);
        color: @red-4;

        &:before {
          content: "\f165";
        }

        &:hover {
          background-color: @red-5;
          color: @red-5;
        }
      }
    }

    > span {
      margin-right: 11px;
    }
  }
}

.social-links {
  > span {
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    display: block;
    margin-bottom: 10px;
  }
}

#social-share {
  overflow: hidden;
  width: 100%;

  .share-btn {
    float: left;
    margin-right: 20px;

    &:last-of-type {
      margin-right: 0;
    }
  }
}